fastapi
uvicorn
python-dotenv
langchain
langchain-groq
langchain-huggingface
sentence-transformers
langchain-community
langchain-chroma
langchain_text_splitters
langgraph
pypdf
chromadb
streamlit
pydantic
httpx
tiktoken
edge-tts             
python-multipart
streamlit-mic-recorder
beautifulsoup4       